body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(190, 179, 164);
    padding: 30px;
}

button{
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: rgb(185, 129, 238);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: chartreuse;
    color: black;
}

#foto-container{
    margin-top: 20px;
}

img{
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
p{
    font-size: 18px;
    color: #444;
}

.navegacion{
    margin-top: 30px;
    padding: 20px;
}

.btn-nav{
    display: inline-block;
    padding: 12px 24px;
    background-color: #6c5ce7;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-nav:hover{
    background-color: #a29bfe;
    color: #2d3436;
    transform: translateY(-2px);
}
