body {
    background-color: #e2e8f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: white;
    width: 270px;
    border-radius: 12px;
    padding: 25px; /* Espaciado interno para que la imagen no toque los bordes */
    box-shadow: 0 4px 20px rgba(200,50,50,0.8);
    text-align: center;
}

.product-img {
    width: 100%;
    border-radius: 8px; /* Por si la imagen original no lo trae perfecto */
    display: block;
}

.content {
    padding: 15px 5px;
}

h2 {
    font-size: 1.3rem;
    margin: 10px 0;
    color: #333;
}

.description {
    color: #777;
    font-size: 0.9rem;
    line-height: 1.4;
}

.price {
    color: #e72929; /* El naranja/rojo del precio */
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 15px 0;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 0.9rem;
    transition: background 0.2s;
}

button:hover {
    background-color: #2980b9;
}