*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.card{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
input{
    padding: 10px;
    width: 100%;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    padding: 10px 20px;
    width: 100%;
    margin: 15px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}

.resultado{
    margin-top: 20px;
    font-weight: bold;
    color: #c5bebe;
}

label{
    display: block;
    margin-bottom: 10px;
    background-color: antiquewhite;
}