/* CSS PROYECTO saas-ia */
/* eliminar (reseteo) los márgenes por defecto (globales con asterisco) */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* se autoregularán las cajitas */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 2. LAYOUT PRINCIPAL (Flexbox) */ 
.app-container{
  display: flex; /* Ponemos el sidebar y chat en fila */
  height: 100vh; /* Ocupar el 100% de la altura de la ventana sin importar la altura del elemento padre. */
  overflow: hidden; /* Evita que la web entera haga scroll */
}

/* 3. SIDEBAR (Barra lateral) */
.sidebar{
  width: 260px; /* ancho fijo para el menú */
  background-color: #9b3991; /* color oscuro tipo chatgpt*/
  color: #fff;
  display: flex;
  flex-direction: column; /* los elementos del menú van ... */
  justify-content: space-between; /* logo arriba, perfíl abajo */
  padding: 15px;
}

.menu-lateral button{
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 1px solid #4d4d4f;
  color: bisque;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* 4. ÁREA DE CHAT (Zona Central) */
.chat-area{
  flex-grow: 1; /* Ocupa TODO el espacio restante de la pantalla*/
  display: flex;
  flex-direction: column; /* cabezera arriba, mensajes en el centro e input abajo */
  background-color: #343541;
}

.chat-header{
  padding: 15px;
  border-bottom: 1px solid #4d4d4f;
  color: #ececf1;
  text-align: center;
  }

.mensajes-container{
    flex-grow: 1; /* Mensajes ocupan el centro */
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje-ia{
  color:#d1d5db;
  max-width: 600px;
  font-size: 1.1rem;
  line-height: 1.6;
}

/* 5. FORMULARIO DE ENTRADA (input) */
.input-area{
  padding: 20px 40px;
}

.chat-form{
  max-width: 700px;
  margin: 0 auto; /* centra verticalmente el formulario*/
  display: flex; /* El input y el button en fila*/
  background-color: #40414f;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.chat-form input{
  flex-grow: 1;  /* el input estira todo lo que puede */ 
  background-color: transparent;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: text;
  outline: none; /* quita el borde azul al hacer click en el input */
}
.chat-form button{
  background-color: #19c37d;
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

/* Magia RESPONSIVE - adaptando el chat a móviles */
@media (max-width: 768px){
  .sidebar{
    /* Hacemos desaparecer la barra lateral */
    display: none;
  }
  .mensajes-container{
    padding: 20px;
  }
  /* Ajustamos el formulario a las pantallas estrechas */
  .input-area{
    padding: 15px;
  }
  .input-area input::placeholder {
    color: white;
  .chat-form{
    background-color: #7b7d8f;
    flex-direction: row;
    padding: 5px;
  }
  .chat-form input{
    /* la letra un poco más pequeña */
    font-size: 0.9rem;
  }
  .chat-form button{
    /* botón más compacto */
    padding: 8px 12px;
  }
  
}


}